* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.sign-up {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up__form {
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.sign-up__field {
  position: relative;
}

.sign-up__input {
  height: 30px;
  width: 300px;
  padding: 0 10px;
  font-size: 20px;
  margin-bottom: 15px;
}

.sign-up__error {
  position: absolute;
  right: 10px;
  top: -7px;
  font-size: 12px;
  color: red;
  background-color: #fff;
  padding: 0 10px;
  animation-name: fadeIn;
  animation-duration: 7s;
}

.sign-up__inp.sign-up__inp_danger {
  border: 1px solid red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    color: #fff;
  }

  to {
    opacity: 1;
    color: red;
  }
}
